*{
  padding: 0;
  margin: 0;
}

.App{
  height: 100vh;
  overflow: auto;
}

.mic{
margin-top: 5px;
}

.popup{
  display: flex;  
  justify-content: space-between ;
  gap: 10px;
   background-color: #F5F5F5;
}



.mic-btn{
  display: flex;
  align-items: center;
  padding: 5px;
  width: 40px;
  height: 40px;
}


.preview-modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.preview-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 500px;
  min-height: 700px;
  max-width: 700px;
  max-height: 90%;
  overflow-y: auto;
}

.close-preview {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}


/* Thumbnail styles for A4 alignment */
.thumbnails-sidebar {
  overflow-y: auto;
  max-height: 91vh;
  height: 100%;
  width: 100%; /* Adjust width as per your requirement */
  max-width: 230px;
  padding: 5px;
  border-right: 1px solid #ddd;
  background-color: #f9f9f9;
}


@media (max-width : 767px) {
  .thumbnails-sidebar{
    width: 100%;
    padding: 2px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 2px;
    overflow-y: auto;
    max-width: 100%;
    margin-bottom: 10px;
  }

 


  .popup{
        display: flex;
        gap: 10px;
        background-color: #F5F5F5;
        flex-direction: column;
  }
  
.thumbnail-page{
  max-width: 90px;
  min-width: 90px;
  width: 100%;
  height: 140px;
  overflow: hidden;
  border: 1px solid #ccc;
  /* margin-bottom: 1px; */
  padding: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  font-size: 2px;
  border-radius: 5px;
}

}


.thumbnail-page {
  max-width: 140px;
  min-width: 140px;
  width: 100%;
  max-height: 190px; 
  min-height: 190px; 
  height: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 10px; /* Adjust to fit thumbnail scale */
  line-height: 1.5;
  font-size: 3.3px;
  border-radius: 5px;
}

/* .thumbnail-page-content {
  white-space: pre-wrap;
  overflow: hidden;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
} */

/* Popup overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 1.2rem;
  color: #666;
}

.documents-container {
  padding: 20px;
}

.documents-list {
  list-style: none;
  padding: 0;
}

.document-item {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  min-width: 600px;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

@media (max-width : 767px){
  .document-item{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    align-items: center;
  }

  .documents-list{
    padding: 20px;
  }

 
}

.document-button {
  padding: 5px 10px;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.2s;
  display: flex;
  gap: 5px; 
  align-items: center;
}


.delete-button{
  background: #D92D20;
  color: #fff;
  border-radius: 5px;
}

.file-name-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Dark background with transparency */
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 15px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.modal-content button:last-child {
  background-color: #f44336;
}

.modal-content button:last-child:hover {
  background-color: #d32f2f;
}

.editor-preview-container{
  display: flex;
  gap: 50px;
  width: 100%;
}

.prompt-update {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}


.icons_container{
  overflow-y: auto;
  max-height: 91vh;
  min-height: 91vh;
  width: 300px;
  padding: 5px;
  background-color: #f9f9f9;
  border-left: 1px solid  #E5E5E5;

}

.icons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.export_icon {
  width: 100%;
  border: 1px solid #CBD5E1; 
  display: flex;
  gap: 10px;
  border-radius: 5px;
  align-items: center;
}

.recording-mic-btn{
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  border-radius:5px ;
  align-items: center;
}